body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(239, 255, 255);
}

.btn{
    height: 13rem;
    width: 13rem;
    border-radius: 20%;
    border: 3px solid black;
    margin: 2rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #EA4335;
}

.green{
    background-color: #34A835;
}

.blue{
    background-color: #4285F4;
}

.yellow{
    background-color: #FBBC05;
}

.flash{
    background-color: rgb(239, 255, 255);
}

.userflash{
    background-color: rgb(254, 118, 193);
}